# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# MLflow artifacts & database
mlruns/
.mlflow/

# Pytest cache
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
